[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glscalibrator"]
	path = glscalibrator
	url = https://github.com/fabbiologia/glscalibrator
